@inherits LayoutComponentBase
<header class="container is-max-desktop">
    <MainLayoutHeader />
</header>
<main class="container is-max-desktop">
    @Body
</main>
<footer class="container is-max-desktop">
</footer>