<header>
    <nav class="pure-menu pure-menu-horizontal">
        <NavLink class="pure-menu-heading" href="" Match="NavLinkMatch.All">2D War</NavLink>
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><NavLink class="pure-menu-link" href="" Match="NavLinkMatch.All">Home</NavLink></li>
            <li class="pure-menu-item"><NavLink class="pure-menu-link" href="game" Match="NavLinkMatch.All">Game</NavLink></li>
            <li class="pure-menu-item"><NavLink class="pure-menu-link" href="about" Match="NavLinkMatch.All">About</NavLink></li>
        </ul>
    </nav>
</header>